html {
    height: 100%;
}

body {
    font-family: "system-ui", "ui-sans-serif", "sans-serif";
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 100%;
    overflow: hidden;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "tracks cover";
    overflow: hidden;
    height: 100%;
}

#tracks {
    background-color: darkgoldenrod;
    grid-area: tracks;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* text-wrap: nowrap; */
    /* text-overflow: ellipsis; */
}

#tracklist {
    background-color: darkmagenta;
    margin: auto;
}

#cover {
    background-color: blueviolet;
    grid-area: cover;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 4%;
}

#cover-image {
    background-color: red;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    box-shadow: 0 0 10px 10px #000;
}
