body {
    margin: 0;
    padding: 0;
    background-color: red;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "tracks cover";
    justify-content: space-between;
    /* justify-items: stretch; */
    align-content: center;
}

#tracks {
    background-color: aqua;
    padding: 2em;
    grid-area: tracks;
    justify-self: center;
}

#cover {
    /* margin: auto; */
    background-color: blueviolet;
    grid-area: cover;
    justify-self: end;
}

#cover-image {
    max-width: 200px;
}
