@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply size-full bg-blue-400;
}

label,
picture,
img {
    user-select: none;
}

input[type="range"] {
    flex-grow: 1;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 1em;
    height: 1.5em;
    padding: 0.25em;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 1em;
}

#gain-slider-value {
    text-align: end;
    pointer-events: none;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] + label {
    padding: 1em;
    border-radius: 2em;
    background-color: gainsboro;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' preserveAspectRatio='none' viewBox='-48 -48 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill='black' fill-rule='evenodd' clip-rule='evenodd' d='M66.589 132.466L59.184 152.812C59.0049 153.306 58.7302 153.76 58.3757 154.147C58.0211 154.535 57.5937 154.849 57.1178 155.072C56.6419 155.294 56.1268 155.421 55.602 155.444C55.0771 155.467 54.5528 155.387 54.059 155.208L46.534 152.47C46.0404 152.29 45.5872 152.014 45.2002 151.659C44.8131 151.304 44.4999 150.876 44.2783 150.399C44.0567 149.923 43.9312 149.408 43.9088 148.883C43.8865 148.358 43.9677 147.834 44.148 147.34L51.583 126.913C33.963 117.347 22 98.683 22 77.224C22 46.02 47.296 20.724 78.5 20.724C82.377 20.724 86.163 21.114 89.82 21.858L96.816 2.63601C96.9951 2.14215 97.2698 1.68841 97.6243 1.30071C97.9789 0.913006 98.4063 0.598939 98.8822 0.376444C99.3581 0.153948 99.8732 0.0273812 100.398 0.00397285C100.923 -0.0194354 101.447 0.0607714 101.941 0.240015L109.466 2.97802C109.96 3.15812 110.413 3.43369 110.8 3.789C111.187 4.1443 111.5 4.57236 111.722 5.04875C111.943 5.52514 112.069 6.0405 112.091 6.56542C112.114 7.09034 112.032 7.61451 111.852 8.10802L104.884 27.25C122.796 36.726 135 55.55 135 77.224C135 108.428 109.704 133.724 78.5 133.724C74.414 133.724 70.429 133.29 66.589 132.466ZM71.762 118.253C73.8264 118.567 75.9118 118.725 78 118.724C100.644 118.724 119 100.368 119 77.724C119 62.869 111.1 49.86 99.273 42.668L71.762 118.253ZM56.727 112.78L84.237 37.195C82.1729 36.8807 80.0879 36.7232 78 36.724C55.356 36.724 37 55.08 37 77.724C37 92.579 44.9 105.588 56.727 112.78Z' /></svg>");
    background-size: contain;
}

input[type="checkbox"] + label:hover {
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' preserveAspectRatio='none' viewBox='-48 -48 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill='red' fill-rule='evenodd' clip-rule='evenodd' d='M66.589 132.466L59.184 152.812C59.0049 153.306 58.7302 153.76 58.3757 154.147C58.0211 154.535 57.5937 154.849 57.1178 155.072C56.6419 155.294 56.1268 155.421 55.602 155.444C55.0771 155.467 54.5528 155.387 54.059 155.208L46.534 152.47C46.0404 152.29 45.5872 152.014 45.2002 151.659C44.8131 151.304 44.4999 150.876 44.2783 150.399C44.0567 149.923 43.9312 149.408 43.9088 148.883C43.8865 148.358 43.9677 147.834 44.148 147.34L51.583 126.913C33.963 117.347 22 98.683 22 77.224C22 46.02 47.296 20.724 78.5 20.724C82.377 20.724 86.163 21.114 89.82 21.858L96.816 2.63601C96.9951 2.14215 97.2698 1.68841 97.6243 1.30071C97.9789 0.913006 98.4063 0.598939 98.8822 0.376444C99.3581 0.153948 99.8732 0.0273812 100.398 0.00397285C100.923 -0.0194354 101.447 0.0607714 101.941 0.240015L109.466 2.97802C109.96 3.15812 110.413 3.43369 110.8 3.789C111.187 4.1443 111.5 4.57236 111.722 5.04875C111.943 5.52514 112.069 6.0405 112.091 6.56542C112.114 7.09034 112.032 7.61451 111.852 8.10802L104.884 27.25C122.796 36.726 135 55.55 135 77.224C135 108.428 109.704 133.724 78.5 133.724C74.414 133.724 70.429 133.29 66.589 132.466ZM71.762 118.253C73.8264 118.567 75.9118 118.725 78 118.724C100.644 118.724 119 100.368 119 77.724C119 62.869 111.1 49.86 99.273 42.668L71.762 118.253ZM56.727 112.78L84.237 37.195C82.1729 36.8807 80.0879 36.7232 78 36.724C55.356 36.724 37 55.08 37 77.724C37 92.579 44.9 105.588 56.727 112.78Z' /></svg>");
}

input[type="checkbox"]:checked + label {
    background-color: navy;
    outline: 2px solid skyblue;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' preserveAspectRatio='none' viewBox='-48 -48 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill='skyblue' fill-rule='evenodd' clip-rule='evenodd' d='M66.589 132.466L59.184 152.812C59.0049 153.306 58.7302 153.76 58.3757 154.147C58.0211 154.535 57.5937 154.849 57.1178 155.072C56.6419 155.294 56.1268 155.421 55.602 155.444C55.0771 155.467 54.5528 155.387 54.059 155.208L46.534 152.47C46.0404 152.29 45.5872 152.014 45.2002 151.659C44.8131 151.304 44.4999 150.876 44.2783 150.399C44.0567 149.923 43.9312 149.408 43.9088 148.883C43.8865 148.358 43.9677 147.834 44.148 147.34L51.583 126.913C33.963 117.347 22 98.683 22 77.224C22 46.02 47.296 20.724 78.5 20.724C82.377 20.724 86.163 21.114 89.82 21.858L96.816 2.63601C96.9951 2.14215 97.2698 1.68841 97.6243 1.30071C97.9789 0.913006 98.4063 0.598939 98.8822 0.376444C99.3581 0.153948 99.8732 0.0273812 100.398 0.00397285C100.923 -0.0194354 101.447 0.0607714 101.941 0.240015L109.466 2.97802C109.96 3.15812 110.413 3.43369 110.8 3.789C111.187 4.1443 111.5 4.57236 111.722 5.04875C111.943 5.52514 112.069 6.0405 112.091 6.56542C112.114 7.09034 112.032 7.61451 111.852 8.10802L104.884 27.25C122.796 36.726 135 55.55 135 77.224C135 108.428 109.704 133.724 78.5 133.724C74.414 133.724 70.429 133.29 66.589 132.466ZM71.762 118.253C73.8264 118.567 75.9118 118.725 78 118.724C100.644 118.724 119 100.368 119 77.724C119 62.869 111.1 49.86 99.273 42.668L71.762 118.253ZM56.727 112.78L84.237 37.195C82.1729 36.8807 80.0879 36.7232 78 36.724C55.356 36.724 37 55.08 37 77.724C37 92.579 44.9 105.588 56.727 112.78Z' /></svg>");
}

@media (prefers-color-scheme: dark) {
    /* body {
        background-color: black;
    } */

    input[type="range"]::-webkit-slider-runnable-track {
        background-color: white;
    }

    input[type="range"]::-webkit-slider-thumb {
        background-color: black;
    }

    input[type="range"]:hover::-webkit-slider-thumb {
        background-color: royalblue;
    }

    input[type="checkbox"] + label:hover {
        background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' preserveAspectRatio='none' viewBox='-48 -48 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill='royalblue' fill-rule='evenodd' clip-rule='evenodd' d='M66.589 132.466L59.184 152.812C59.0049 153.306 58.7302 153.76 58.3757 154.147C58.0211 154.535 57.5937 154.849 57.1178 155.072C56.6419 155.294 56.1268 155.421 55.602 155.444C55.0771 155.467 54.5528 155.387 54.059 155.208L46.534 152.47C46.0404 152.29 45.5872 152.014 45.2002 151.659C44.8131 151.304 44.4999 150.876 44.2783 150.399C44.0567 149.923 43.9312 149.408 43.9088 148.883C43.8865 148.358 43.9677 147.834 44.148 147.34L51.583 126.913C33.963 117.347 22 98.683 22 77.224C22 46.02 47.296 20.724 78.5 20.724C82.377 20.724 86.163 21.114 89.82 21.858L96.816 2.63601C96.9951 2.14215 97.2698 1.68841 97.6243 1.30071C97.9789 0.913006 98.4063 0.598939 98.8822 0.376444C99.3581 0.153948 99.8732 0.0273812 100.398 0.00397285C100.923 -0.0194354 101.447 0.0607714 101.941 0.240015L109.466 2.97802C109.96 3.15812 110.413 3.43369 110.8 3.789C111.187 4.1443 111.5 4.57236 111.722 5.04875C111.943 5.52514 112.069 6.0405 112.091 6.56542C112.114 7.09034 112.032 7.61451 111.852 8.10802L104.884 27.25C122.796 36.726 135 55.55 135 77.224C135 108.428 109.704 133.724 78.5 133.724C74.414 133.724 70.429 133.29 66.589 132.466ZM71.762 118.253C73.8264 118.567 75.9118 118.725 78 118.724C100.644 118.724 119 100.368 119 77.724C119 62.869 111.1 49.86 99.273 42.668L71.762 118.253ZM56.727 112.78L84.237 37.195C82.1729 36.8807 80.0879 36.7232 78 36.724C55.356 36.724 37 55.08 37 77.724C37 92.579 44.9 105.588 56.727 112.78Z' /></svg>");
    }

    input[type="checkbox"]:checked + label:hover {
        outline: 2px solid royalblue;
    }
}

@media (prefers-color-scheme: light) {
    /* body {
        background-color: white;
    } */

    input[type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, gray, black);
    }

    input[type="range"]::-webkit-slider-thumb {
        background-color: white;
    }

    input[type="range"]:hover::-webkit-slider-thumb {
        background-color: cornflowerblue;
    }

    input[type="checkbox"] + label:hover {
        background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' preserveAspectRatio='none' viewBox='-48 -48 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill='cornflowerblue' fill-rule='evenodd' clip-rule='evenodd' d='M66.589 132.466L59.184 152.812C59.0049 153.306 58.7302 153.76 58.3757 154.147C58.0211 154.535 57.5937 154.849 57.1178 155.072C56.6419 155.294 56.1268 155.421 55.602 155.444C55.0771 155.467 54.5528 155.387 54.059 155.208L46.534 152.47C46.0404 152.29 45.5872 152.014 45.2002 151.659C44.8131 151.304 44.4999 150.876 44.2783 150.399C44.0567 149.923 43.9312 149.408 43.9088 148.883C43.8865 148.358 43.9677 147.834 44.148 147.34L51.583 126.913C33.963 117.347 22 98.683 22 77.224C22 46.02 47.296 20.724 78.5 20.724C82.377 20.724 86.163 21.114 89.82 21.858L96.816 2.63601C96.9951 2.14215 97.2698 1.68841 97.6243 1.30071C97.9789 0.913006 98.4063 0.598939 98.8822 0.376444C99.3581 0.153948 99.8732 0.0273812 100.398 0.00397285C100.923 -0.0194354 101.447 0.0607714 101.941 0.240015L109.466 2.97802C109.96 3.15812 110.413 3.43369 110.8 3.789C111.187 4.1443 111.5 4.57236 111.722 5.04875C111.943 5.52514 112.069 6.0405 112.091 6.56542C112.114 7.09034 112.032 7.61451 111.852 8.10802L104.884 27.25C122.796 36.726 135 55.55 135 77.224C135 108.428 109.704 133.724 78.5 133.724C74.414 133.724 70.429 133.29 66.589 132.466ZM71.762 118.253C73.8264 118.567 75.9118 118.725 78 118.724C100.644 118.724 119 100.368 119 77.724C119 62.869 111.1 49.86 99.273 42.668L71.762 118.253ZM56.727 112.78L84.237 37.195C82.1729 36.8807 80.0879 36.7232 78 36.724C55.356 36.724 37 55.08 37 77.724C37 92.579 44.9 105.588 56.727 112.78Z' /></svg>");
    }

    input[type="checkbox"]:checked + label:hover {
        outline: 2px solid cornflowerblue;
    }
}
